.container {
    padding: 20px;
    background-color: #2b2b2b; /* Темно-серый */
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff; /* Белый текст */
}

.containerContent {
    position: fixed; /* Зафиксировать контейнер */
    width: 340px;
    top: 61px;
    padding: 20px;
    background-color: #2b2b2b; /* Темно-серый */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff; /* Белый текст */
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(90deg, #2b3e41 0%, #999999 100%); /* Градиент от темного к светло-серому */
    margin: 20px 0;
    opacity: 0.5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.loader {
    margin-top: 20px;
}

.dateChooseContainer {
    margin-bottom: 20px;
}
